.button-styles {
  color: #2487ce !important;
  background-color: white !important;
  border: 2px solid #2487ce !important;
}

.button-styles:hover {
  background-color: #2487ce !important;
  color: white !important;
}

@media only screen and (max-width: 1024px) {
  .about-padding {
    padding: 80px 50px 80px 50px !important;
  }
  .about-padding1 {
    padding: 0px 50px 0px 50px !important;
  }
  .about-padding2 {
    padding: 15px 50px !important;
  }
}

@media only screen and (max-width: 600px) {
  .about-padding {
    padding: 80px 6px 80px 6px !important;
  }

  .about-padding1 {
    padding: 0px 0px 0px 0px !important;
  }

  .about-padding2 {
    padding: 15px 0px !important;
  }

  .slider-card {
    margin: 0px 0px !important;
  }

  .slider-div {
    padding: 0px 0px 0px 0px !important;
  }
}

.video-button {
  width: 94px;
  height: 94px;
  background: radial-gradient(#2487ce 50%, rgba(36, 135, 206, 0.4) 52%);
  border-radius: 50%;
  display: block;
  position: absolute;
  left: calc(50% - 47px);
  top: calc(50% - 47px);
  overflow: hidden;
}

.video-part {
  position: relative;
}

.video-button::before {
  content: "";
  position: absolute;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation: pulsate-btn 2s;
  animation: pulsate-btn 2s;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 5px solid rgba(36, 135, 206, 0.7);
  top: -15%;
  left: -15%;
  background: rgba(198, 16, 0, 0);
}

.video-button::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 100;
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.image {
  max-width: 45%;
  transition: all 0.4s ease-in-out;
  display: inline-block;
  padding: 15px 0;
  filter: grayscale(100);
}

.image:hover {
  filter: none;
  transform: scale(1.15);
}

.testimonial-image {
  width: 90px !important;
  border-radius: 50% !important;
  margin: 15px auto 8px auto !important;
}
