.pricing-button-style2 {
  color: white !important;
  background-color: #2487ce !important;
  font-size: 14px !important;
  padding: 10px 40px !important;
  border: 2px solid white !important;
}

.pricing-button-style2:hover {
  color: #2487ce !important;
  background-color: white !important;
}

.pricing-button-style1 {
  color: #2487ce !important;
  background-color: white !important;
  font-size: 14px !important;
  padding: 10px 40px !important;
  border: 2px solid #2487ce !important;
}

.pricing-button-style1:hover {
  color: white !important;
  background-color: #2487ce !important;
}

@media only screen and (max-width: 1024px) {
  .pricing-padding {
    padding: 80px 0px 50px 0px !important;
  }
}

@media only screen and (max-width: 600px) {
  .pricing-padding {
    padding: 80px 6px 50px 6px !important;
  }
}

.bx-chevron-down:before {
  content: "\e9ac";
}

.faq-question {
  padding: 20px !important;
  background-color: white !important;
  font-size: 16px !important;
  font-weight: bold !important;
  margin-bottom: 10px !important;
}

.faq-question:hover {
  color: #2889cf !important;
  cursor: pointer !important;
}
