.team-card {
  transition: all 0.3s ease-in-out;
}

.team-card:hover {
  box-shadow: 0px 0 35px 0 rgb(0 0 0 / 8%);
  border-radius: 2px !important;
}

@media only screen and (max-width: 1024px) {
  .team-padding {
    padding: 80px 50px 80px 50px !important;
  }
}

@media only screen and (max-width: 600px) {
  .team-padding {
    padding: 80px 6px 50px 6px !important;
  }

  .col-sm-6 {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }

  .team-card {
    margin: 0px 0px 20px 0px !important;
  }
}

h2 {
  font-weight: bold !important;
}

.social {
  position: absolute;
  left: 0;
  bottom: 90px;
  right: 0;
  height: 40px;
  opacity: 0;
  color: #124265 !important;
  transition: ease-in-out 0.3s;
  text-align: center;
  background: rgba(255, 255, 255, 0.85);
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 80px;
}

.social a {
  color: #124265 !important;
}

.social a:hover {
  color: #2487ce !important;
}

.team-card:hover .social {
  opacity: 1 !important;
}
