@media only screen and (max-width: 1024px) {
  .contact-padding {
    padding: 80px 30px 50px 30px !important;
  }
}

@media only screen and (max-width: 600px) {
  .contact-padding {
    padding: 80px 15px 50px 15px !important;
  }
}

.contact-icon {
  font-size: 20px;
  color: #2487ce;
  float: left;
  width: 44px;
  height: 44px;
  background: #e3f0fa;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.contact-detail:hover .contact-icon {
  color: #e3f0fa;
  background: #2487ce;
}
