.card-link {
  color: #124265;
  font-size: 18px;
  font-weight: 600;
}

.card-text {
  font-size: 15px;
  margin-top: 15px;
}

.shadow-card {
  padding: 40px 10px;
  box-shadow: 0 0 29px 0 rgb(18 66 101 / 8%);
  border-radius: 8px !important;
  transition: all 0.3s ease-in-out;
}

.shadow-card:hover {
  transform: scale(1.08);
}

.shadow-card:hover .card-link {
  color: #2487ce;
}

@media (max-width: 992px) {
  h1 {
    font-size: 28px !important;
    line-height: 36px !important;
  }
}

h1 {
  margin: 0;
  font-weight: 700 !important;
  line-height: 72px;
  color: #124265;
}

.bg-image {
  height: auto;
  width: 100%;
  position: relative;
  background: url("../../public/assets/img/hero-bg.jpg") top center;
  background-size: cover;
  background-attachment: fixed;
}

.bg-image::before {
  content: "";
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

@media only screen and (max-width: 1024px) {
  .home-padding {
    padding: 150px 50px 70px 50px !important;
  }
}

@media only screen and (max-width: 600px) {
  .home-padding {
    padding: 150px 0px 70px 0px !important;
  }

  .col-sm-12 {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
}
