.service-image {
  width: 80px !important;
  border-radius: 50% !important;
  margin: 15px auto 8px auto !important;
}

.service-card {
  transition: all 0.3s ease-in-out;
}

.service-card:hover {
  box-shadow: 0px 0 35px 0 rgb(0 0 0 / 8%);
  border-radius: 2px !important;
}

@media only screen and (max-width: 1024px) {
  .service-padding {
    padding: 80px 80px 50px 80px !important;
  }
}

@media only screen and (max-width: 600px) {
  .service-padding {
    padding: 80px 10px 50px 10px !important;
  }

  .service-padding1 {
    padding: 60px 10px 60px 10px !important;
  }

  .service-row {
    padding: 10px 10px !important;
  }
}

.service-button-style {
  color: white !important;
  background-color: #2487ce !important;
  font-size: 14px !important;
  padding: 10px 45px !important;
  border: 2px solid white !important;
}

.service-button-style:hover {
  background-color: white !important;
  color: #2487ce !important;
}
