.header-pedding {
  margin-left: 15px !important;
  color: #165094 !important;
  transition: 0.3s;
}

.header-pedding:hover {
  color: #2496dc !important;
}

.button-style {
  color: white !important;
  background-color: #2487ce !important;
}

.button-style:hover {
  color: white !important;
  background-color: #2496dc !important;
}

.header-pedding.nav-item.dropdown a {
  color: #165094 !important;
}

.header-pedding.nav-item.dropdown a:hover {
  color: #2496dc !important;
}

.responsive-navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 15px 0;
  border-bottom: 1px solid #e6f2fb;
}

@media only screen and (max-width: 1024px) {
  .responsive-navbar {
    padding: 8px 50px !important;
  }
}

@media only screen and (max-width: 600px) {
  .responsive-navbar {
    padding: 5px 20px !important;
  }
}
