.footer-pedding {
  /* margin-left: 15px !important; */
  color: #165094 !important;
}

.footer-pedding:hover {
  color: #2496dc !important;
}

.footer-button-style {
  color: white !important;
  background-color: #2487ce !important;
}

.footer-button-style:hover {
  color: white !important;
  background-color: #2496dc !important;
}

@media only screen and (max-width: 1024px) {
  .footer-padding {
    padding: 80px 30px 50px 30px !important;
  }
}

@media only screen and (max-width: 600px) {
  .footer-padding {
    padding: 80px 0px 50px 0px !important;
    text-align: center;
  }

  .footer-padding2 {
    padding: 80px 0px 50px 0px !important;
    text-align: center;
  }
}

.col {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.footer-icon {
  margin-left: 2px;
  font-size: 18px !important;
  display: inline-block !important;
  background: #2487ce !important;
  color: #fff !important;
  line-height: 1 !important;
  padding: 8px 0 !important;
  margin-right: 4px !important;
  border-radius: 5px !important;
  text-align: center !important;
  width: 36px !important;
  height: 36px !important;
  transition: 0.3s !important;
}
