@media (min-width: 768px) {
  .col-md-8 {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
}

@media (min-width: 768px) {
  .col-md-4 {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
}

@media (min-width: 576px) {
  .col-sm-7 {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
}

@media (min-width: 576px) {
  .col-sm-5 {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
}

@media (min-width: 768px) {
  .col-lg-9 {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
}

@media (min-width: 768px) {
  .col-lg-3 {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
}
